SECRET_KEY=4hNQwZ2IBCNJPD1lLFgmZrpRbdANkBScSrLsqLrSC5LTRRE8_rbabCexlui0pyMMwLq2AKBB69tZ_1HqDRo2SA
DATABASE_URL=sqlite:///neon_roo_computers.db
COMPANY_NAME=Neon Roo Computers & Upgrades
BASE_URL=http://127.0.0.1:5000
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PUBLIC_KEY=
